#imal {margin-left: 25%;
         width: 50%;
}
footer {margin-right: 50%;
         background-color: gold;
}
.h1 {
    font-family: "crimson text", serif;
    font-weight: 400;
    font-style: italic;
}